@charset "utf-8";
/*
！*作者：WU EVA
！*时间:2017/5/7
**/
/*
common css
公共样式
*/
body{
  color: #FF9393;
  font-family: miranafont,"Hiragino Sans GB",STXihei,"Microsoft YaHei",SimSun,sans-serif;
}
ul,li {
  margin: 0px;
  padding: 0px;
}
.text-nowrap{
    white-space: nowrap;
}
@media (max-width:768px){
  .col-xs-12{
    padding-left:0;
    padding-right:0;
  }
}
.checked-G{
  color: #FF9393;
}
.header{
  background:rgba(255, 176, 176,0.5) url("../img/MSHKLogo.png") no-repeat;
  background-size: 4rem 4rem;
  background-position: 2rem center;
  padding: 2rem 0;
}
.fixheader{
  position: fixed;
  top:0;
  left: 0;
  right:0;
  z-index: 2;
}
.header .input-group{
    background: #fff;
    border-radius: 1rem;
}
.header .input-group .searchIcon{
    background: transparent;
    border: 0 none transparent;
    color: #ffb0b0;
}
.header .input-group #looKey{
  margin-right: 2rem;
  border: 1px solid #fff;
  outline:none;
  line-height: 2;
  border-radius: 1rem 0 0 1rem;
  text-indent: 2rem;
  width: 100%;
}
.fixBottom{
  position: fixed;
  bottom:0;
  left: 0;
  right:0;
}
.footer{
  line-height: 1.5;
  text-align: center;
}
.fixBottom .nav{
  height:50px;
  background:rgba(255, 255, 255, 0.79);
}
.fixBottom .nav li{
  height: 100%;
  text-align: center;
  line-height: 1.4;
  font-size: 15px;
  word-spacing: 50px;
  cursor: pointer;
}

.last-p{
  line-height: 2.0;
  word-spacing: 0.8em;
  display: inline-block;
  position: relative;
}

.last-p:before, .last-p:after {
    content: '';                 /*CSS伪类用法*/
    position: absolute;         /*定位背景横线的位置*/
    top: 52%;
    background: #ffb0b0;      /*宽和高做出来的背景横线*/
    width: 12%;
    height: 2px;
}
.last-p:before{
    left: 25%;        /*调整背景横线的左右距离*/
}
.last-p:after {
    right: 25%;
}
/*
index.html css
主页样式
*/
#example{
  overflow: hidden;
}
#myCarousel{
  height: 200px;
}
#myCarousel .my-swipe .mint-swipe-items-wrap .mint-swipe-item img{
  height: 100%;
  width: 100%;
}
.list-group-item:first-child {
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    border-top-width: 0;
}
p {
    margin: auto !important;
    /*cursor: pointer;*/
}
.list-group-item{
  border-width: 1px 0;
  padding: 0 15px;
}
.newlist{
  cursor: pointer;
}
.newlist .lead.h3{
  color: #ffb0b0;
  line-height: 50px;
}
.newlist .newListLeft{
  padding:20px 0;
  text-align: center;
  background:rgba(255, 176, 176, 0.71) url("../img/MSHKLogo.jpg")  no-repeat;
  background-position: center center;
  background-size:100% 100%;
  border-color: #bce8f1;
  border-radius: 20px;
  box-sizing: border-box;
}
.newlist .newListLeft::before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: -1;
    /*-1 可以当背景*/
    -webkit-filter: blur(1rem);
    filter: blur(1rem);
    background: url("../img/MSHKLogo.jpg") center top;
    background-size: cover;
    /*平铺*/
    background-attachment: fixed;
    /*位置固定*/
}
.showNew{
  margin-top: 7rem;
  height:-moz-calc(100% - 8em);
  height:-webkit-calc(100% - 8em);
  height:calc(100% - 8em);
  overflow:auto;
}
/*
newdetail css
文字详情页样式
*/
.detailMain{
  background: rgba(255, 176, 176, 0.4);
}
/*
login css
登录界面样式
*/
.form-horizontal.col-xs-10{
  margin-top:10%;
}
@media (max-width:768px){
  .form-horizontal.col-xs-10{
    margin-left:6%;
  }
}

.checkBtn{
  color:rgb(255, 56, 56);
}
.loginIcon{
  background: #5bc0de;
  color:#fff;
  border-radius: 100%;
  padding: 25px;
  font-size: 40px;
  margin-bottom: 30px;
}
/*
page-bar css
分页主页样式
*/
.page-bar li {
  list-style: none;
  display: inline-block;
}

.page-bar li:first-child>a {
  margin-left: 0px
}

.page-bar a {
  border: 1px solid #ddd;
  text-decoration: none;
  position: relative;
  float: left;
  padding: 6px 12px;
  margin-left: -1px;
  line-height: 1.42857143;
  color: #337ab7;
  cursor: pointer
}

.page-bar a:hover {
  background-color: #eee;
}

.page-bar .active a {
  color: #fff;
  cursor: default;
  background-color: #337ab7;
  border-color: #337ab7;
}

.page-bar i {
  font-style:normal;
  color: #d44950;
  margin: 0px 4px;
  font-size: 12px;
}
/*
login

*/
