<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>formDemo</title>
  <link href="../css/bootstrap.css" rel="stylesheet" type="text/css" />
  <link href="../css/default.css" rel="stylesheet" type="text/css" />
</head>
<body>

  <div id="login" class="container">
    <p class="text-center alert alert-danger" :class="[!error?'hide':'']" v-text="errorInfo"></p>
    <p class="text-center alert alert-success"  :class="[!success?'hide':'']" v-text="successInfo"></p>

    <div class="form-horizontal col-xs-12  col-sm-6 col-sm-offset-3">
      <div class="h1 text-center text-info" v-if="!gores">
        <span class="glyphicon glyphicon-user loginIcon" alt="用户登录"></span>
      </div>
      <div class="h1 text-center text-info" v-if="gores">
        <span class="	glyphicon glyphicon-info-sign loginIcon" alt="用户注册"></span>
      </div>
      <div class="form-group has-feedback" :class="checkForm">
        <label class="col-xs-3 text-info " for="userName">用户名</label>
        <div class="col-xs-9">
          <span class="glyphicon form-control-feedback " :class="checkInput"></span>
          <input type="text" class="form-control" id="userName" placeholder="请输入用户名"  v-model="uname"/>
        </div>
      </div>

      <div class="form-group has-feedback" :class="checkForm">
        <label class="col-xs-3 text-info" for="userPwd">密码</label>
        <div class="col-xs-9">
          <span class="glyphicon form-control-feedback" :class="checkInput"></span>
        <input type="password" class="form-control" id="userPwd" placeholder="请输入密码"  v-model="password "/>

        </div>
      </div>

      <div class="form-group has-feedback" v-if="gores" :class="checkForm">
        <label class="col-xs-3 text-info" for="userrPwd">再次确认密码</label>
        <div class="col-xs-9">
          <span class="glyphicon form-control-feedback" :class="checkInput"></span>
          <input type="password" class="form-control" id="userrPwd" placeholder="请再次确认输入密码"  v-model="rpassword "/>
        </div>
      </div>
      <div class="form-group has-feedback" v-if="gores" :class="checkForm">
        <label class="col-xs-3 text-info" for="email">用户邮箱</label>
        <div class="col-xs-9 has-feedback">
          <span class="glyphicon form-control-feedback" :class="checkInput"></span>
        <input type="text" class="form-control" i<alert></alert>d="email" placeholder="请输入用来收验证码的邮箱"  v-model="email "/>
        </div>
      </div>
      <div class="form-group" v-if="!gores">
        <button id="submitBtn" class="btn btn-info btn-block" @click="checkLogin()">登陆账户</button>
        <button id="submitBtn" class="btn btn-link pull-right" @click="goReg()">用户注册</button>
      </div>
      <div class="form-group" v-if="gores">
        <button id="submitBtn" class="btn btn-info btn-block" @click="checkReg()">注册账户</button>
        <button id="submitBtn" class="btn btn-link pull-right" @click="goLogin()">已有帐号去登陆</button>
      </div>
    </div>


  <div class="footer fixBottom">
    <nav class="text-muted h6" v-html="copyright"></nav>
  </div>

  </div>

</body>

<script src="../js/vue2.js" type="text/javascript"></script>
<script>


var vm2 = new Vue({
    el:'#login',
    data:function(){
        return {
          uname:"",
          password:"",
          rpassword:"",
          success:false,
          error:false,
          errorInfo:"",
          successInfo:"",
          gores:false,
          email:"",
          copyright:"Copyright © 2017 cover by WaterMelon <br />鄂ICP备66666666号-5<br />出其东门，有女如云，虽则如云，匪我思存。"
        }//
    },
    computed:{
      loginInfo:function () {
        return "你输入的用户名是"+this.uname+"你输入的密码是"+this.password;
      },
      checkForm: function () {
        return {
          'has-warning': this.success,
          'has-warning': this.error
        }

      },
      checkInput:  function () {
        return {
        'glyphicon-ok': this.success,
        'glyphicon-remove': this.error
        }
      }

    },
    methods:{
      checkLogin:function(){
        var key="123";
        if(this.password==key&&this.uname==key){
          this.error=false;
          this.success=true;
          this.successInfo ="登录成功正在跳转....";
          //window.location.replace("index.html?username="+this.uname);
          window.location.href ="../index.html?username="+this.uname;
        }else{
          this.error=true;
          this.errorInfo ="用户名或者帐号输入错误请确认";
        }
      },
      checkReg:function() {
        if(this.password!=""&&this.password==this.rpassword){
          this.gores=false;
        }else{
          //this.gores=true;
          this.error=true;
          this.errorInfo ="用户名或者密码输入不匹配请确认";
        }
      },
      goReg:function() {
         this.gores=true;
      },
      goLogin:function() {
        this.gores=false;
      },

    }
});
//过滤非法字符
 Vue.filter('validate', function(val) {
   val = val.toString();
   reg = /[`~!@#$%^&*()_+<>?:"{},\/;']/im;

   if(reg.test(val)) {
     //vm2.error=true;
     //vm2.errorInfo ="请勿输入非法字符";
     console.log("vm2.error"+vm2.error+","+vm2.data.error);
     console.log("vm2.errorInfo"+vm2.errorInfo+","+vm2.data.errorInfo);

     //$.alert("请勿输入非法字符", "温馨提示");
     //返回时删除非法字符
     return val.substr(0, val.length - 1);
   } else {
     //原内容返回
     return val;
   }
 });

</script>
</html>
