<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="icon" href="../img/favicon.ico" type="image/x-icon" />
  <link rel="shortcut icon" href="../img/favicon.ico" type="image/x-icon" />
  <title>settingDemo</title>
  <link href="../css/bootstrap.css" rel="stylesheet" type="text/css" />
  <link href="../css/default.css" rel="stylesheet" type="text/css" />
  <link href="../css/vue-swipe.css" rel="stylesheet" type="text/css" charset="utf-8"/>

</head>
<body>
  <div class="col-sm-offset-3 col-sm-6 col-md-offset-4  col-md-4 col-xs-12" id="example">
    <div class="header fixheader">
      <div class="input-group col-xs-8 pull-right">
          <input type="text" placeholder="请输入想要搜索的内容" id="looKey"/>
          <label class="input-group-addon glyphicon glyphicon-search searchIcon"></label>
      </div>
    </div>
    <div class="showNew">
        <div id="myCarousel" class="carousel">
          <swipe class="my-swipe">
            <swipe-item v-for="pic in img"><img :src="pic.src"/></swipe-item>
          </swipe>
        </div>
        <ul class="nav">
          <li class="col-xs-3" v-for="fname in footer" :class="fname.icon" v-text="fname.text"></li>
        </ul>
        <ul class="list-group YYlistG">
          <li class="list-group-item col-xs-12"  v-for="(item,index) in newT" :id="'new-' + index">
            <a class="newlist row" @click="godetail(item)">
              <span class="col-xs-2 newListLeft">
                <p class="lead h3">{{item.name.substring(0,1)}}</p>
              </span>
              <span class="col-xs-10">
                新闻发布时间：<span class="text-muted">{{item.upTime}}<br/></span>
                <p class="h4 help-block">{{item.name}}<br/></p>
                <p class="h5 help-block">{{item.newTest.substring(0,20)}}<br/></p>
                <span class="row help-block">
                  <span class="col-xs-3 glyphicon glyphicon-thumbs-up text-nowrap" @click.stop="toggle(item,'loveNum','checkedL')" :class="{'checked-G':(selectNew==item.newId)&&checkM.checkedL}">{{item.loveNum}}</span>
                  <span class="col-xs-3 glyphicon glyphicon-thumbs-down text-nowrap"  @click.stop="toggle(item,'hateNum','checkedH')" :class="{'checked-G':(selectNew==item.newId)&&checkM.checkedH}">{{item.hateNum}}</span>
                  <span class="col-xs-6 text-nowrap"  @click.stop="++item.visitNum">阅读量({{item.visitNum}})</span>
                </span>


              </span>
            </a>
          </li>
          <p class="col-xs-12 text-center last-p">我是有底线的</p>
          <p class="col-xs-12" v-show="!newT.length">新闻列表为空</p>
        </ul>
    </div>
    <div class="footer fixBottom">
      <ul class="nav">
        <li class="col-xs-3 glyphicon" v-for="fname in footer" :class="fname.icon" v-text="fname.text" @click="goindex(fname.url)"></li>
      </ul>
    </div>
  </div>
</body>
<script src="../js/vue2.js" type="text/javascript"></script>
<script src="../js/vue-swipe.js" type="text/javascript"></script>
<script type="x/template" src="../js/swipe.vue"></script>
<script type="x/template" src="../js/swipe-item.vue"></script>
<script>
'use strict';

var vueSwipe = VueSwipe.Swipe;
var vueSwipeItem = VueSwipe.SwipeItem;
var vm = new Vue({
    el:'#example',
    ready:function(){

        //this.getAll('quantity','totalQuantity');//一进入页面计算总数
        //this.getAll('price','totalPrice');

    },
    components: {
      'swipe': vueSwipe,
      'swipe-item': vueSwipeItem
    },
    watch:{//监控数组变化,再次计算总数
    },
    data:function(){
        return {
            newT :getYYData(),
            isObj :false,
            img:[
              {src:"../img/view_01.jpg"},
              {src:"../img/view_02.jpg"},
              {src:"../img/view_03.jpg"}
            ],
            checkM:{
              "checkedL":false,
              "checkedH":false
            },
            footer:
            [
              {text:" 主页",icon:"glyphicon-home",url:"../index.html"},
              {text:" 美图",icon:"glyphicon-camera",url:"pic.html"},
              {text:" 心情",icon:"glyphicon-tag",url:"mood.html"},
              {text:" 设置",icon:"glyphicon-cog text-muted",url:"setting.html"},
            ],
            selectNew:""
        }//
    },
    methods:{
      godetail:function (item) {
        //alert(item.newId);
        window.location.href ="../detail/newdetail.html?newid="+item.newId;
      },
      goindex:function (url) {
        //alert(item.newId);
        window.location.href = url;
      },
      toggle:function (item,paraNum,paracheck) {
        /*
        *@parameter item 获取当前的item
        *@parameter paraNum 获取当前的item对应那个属性值
        *@parameter paracheck 获取当前的item对应那个确认状态
        */
        this.selectNew = item.newId;
        for(var i in this.newT){
          if(this.newT[i].newId.indexOf(item.newId)>-1){
            if(paracheck=="checkedL"&&paraNum=="loveNum"){
                this.checkM.checkedL=!this.checkM.checkedL;
                if(this.checkM.checkedL){
                  ++this.newT[i].loveNum;
                }else {
                  --this.newT[i].loveNum;
                }
            }else if(paracheck=="checkedH"&&paraNum=="hateNum"){
                this.checkM.checkedH=!this.checkM.checkedH;
                if(this.checkM.checkedH){
                  ++this.newT[i].hateNum;
                }else {
                  --this.newT[i].hateNum;
                }
            }
          }

        }

      },
        add:function(item){
          event.cancelBubble = true;
           ++item.quantity;
        },
        reduce:function(item){
          //event.cancelBubble = true;
            if(item.quantity==1){
                var returnKey = confirm('是否从购物车内删除该产品!');
                 returnKey  &&  this.cart.$remove(item)
             }else{
                 --item.quantity;
            }
        },

    }
});

//获取预约信息
function getYYData() {
  /*
  *@parameter newId 新闻编号
  *@parameter name 新闻标题
  *@parameter newTest 新闻内容
  *@parameter visitNum 新闻浏览量
  *@parameter upTime 新闻发布时间
  *@parameter loveNum 喜欢人数
  *@parameter hateNum 讨厌人数
  */
  var newsL =[
  {
    "newId": "ASDSDSDS123101B",
    "name": "西瓜设置在线",
    "newTest":"西瓜设置在线西瓜设置在线西瓜设置在线西瓜设置在线西瓜设置在线西瓜设置在线西瓜设置在线",
    "upTime":"2017-05-01",
    "visitNum":15416,
    "loveNum":5656,
    "hateNum":5665
  },
  {
    "newId": "ASDSDSDS123102B",
    "name": "西瓜设置在线",
    "newTest":"西瓜设置在线西瓜设置在线西瓜设置在线西瓜设置在线西瓜设置在线西瓜设置在线西瓜设置在线",
    "upTime":"2017-05-02",
    "visitNum":15416,
    "loveNum":5656,
    "hateNum":5665
  },
  {
    "newId": "ASDSDSDS123103B",
    "name": "西瓜设置在线",
    "newTest":"西瓜设置在线西瓜设置在线西瓜设置在线西瓜设置在线西瓜设置在线西瓜设置在线西瓜设置在线",
    "upTime":"2017-05-03",
    "visitNum":15416,
    "loveNum":5656,
    "hateNum":5665
  },
  {
    "newId": "ASDSDSDS123104B",
    "name": "西瓜设置在线",
    "newTest":"西瓜设置在线西瓜设置在线西瓜设置在线西瓜设置在线西瓜设置在线西瓜设置在线西瓜设置在线",
    "upTime":"2017-05-04",
    "visitNum":15416,
    "loveNum":5656,
    "hateNum":5665
  },
  {
    "newId": "ASDSDSDS123105B",
    "name": "西瓜设置在线",
    "newTest":"西瓜设置在线西瓜设置在线西瓜设置在线西瓜设置在线西瓜设置在线西瓜设置在线西瓜设置在线",
    "upTime":"2017-05-05",
    "visitNum":15416,
    "loveNum":5656,
    "hateNum":5665
  },
  {
    "newId": "ASDSDSDS123106B",
    "name": "西瓜设置在线",
    "newTest":"西瓜设置在线西瓜设置在线西瓜设置在线西瓜设置在线西瓜设置在线西瓜设置在线西瓜设置在线",
    "upTime":"2017-05-06",
    "visitNum":15416,
    "loveNum":5656,
    "hateNum":5665
  },
  {
    "newId": "ASDSDSDS123107B",
    "name": "西瓜设置在线",
    "newTest":"西瓜设置在线西瓜设置在线西瓜设置在线西瓜设置在线西瓜设置在线西瓜设置在线西瓜设置在线",
    "upTime":"2017-05-07",
    "visitNum":15416,
    "loveNum":5656,
    "hateNum":5665
  },
  {
    "newId": "ASDSDSDS123108B",
    "name": "西瓜设置在线",
    "newTest":"西瓜设置在线西瓜设置在线西瓜设置在线西瓜设置在线西瓜设置在线西瓜设置在线西瓜设置在线",
    "upTime":"2017-05-08",
    "visitNum":15416,
    "loveNum":5656,
    "hateNum":5665
  },
  {
    "newId": "ASDSDSDS123109B",
    "name": "西瓜设置在线",
    "newTest":"西瓜设置在线西瓜设置在线西瓜设置在线西瓜设置在线西瓜设置在线西瓜设置在线西瓜设置在线",
    "upTime":"2017-05-09",
    "visitNum":15416,
    "loveNum":5656,
    "hateNum":5665
  },
  {
    "newId": "ASDSDSDS1231010B",
    "name": "西瓜设置在线",
    "newTest":"西瓜设置在线西瓜设置在线西瓜设置在线西瓜设置在线西瓜设置在线西瓜设置在线西瓜设置在线",
    "upTime":"2017-05-10",
    "visitNum":15416,
    "loveNum":5656,
    "hateNum":5665
  },
  {
    "newId": "ASDSDSDS1231011B",
    "name": "西瓜设置在线",
    "newTest":"西瓜设置在线西瓜设置在线西瓜设置在线西瓜设置在线西瓜设置在线西瓜设置在线西瓜设置在线",
    "upTime":"2017-05-11",
    "visitNum":15416,
    "loveNum":5656,
    "hateNum":5665
  },
  {
    "newId": "ASDSDSDS1231012B",
    "name": "西瓜设置在线",
    "newTest":"西瓜设置在线西瓜设置在线西瓜设置在线西瓜设置在线西瓜设置在线西瓜设置在线西瓜设置在线",
    "upTime":"2017-05-12",
    "visitNum":15416,
    "loveNum":5656,
    "hateNum":5665
  },
  {
    "newId": "ASDSDSDS1231013B",
    "name": "西瓜设置在线",
    "newTest":"西瓜设置在线西瓜设置在线西瓜设置在线西瓜设置在线西瓜设置在线西瓜设置在线西瓜设置在线",
    "upTime":"2017-05-13",
    "visitNum":15416,
    "loveNum":5656,
    "hateNum":5665
  },
  {
    "newId": "ASDSDSDS1231014B",
    "name": "西瓜设置在线",
    "newTest":"西瓜设置在线西瓜设置在线西瓜设置在线西瓜设置在线西瓜设置在线西瓜设置在线西瓜设置在线",
    "upTime":"2017-05-14",
    "visitNum":15416,
    "loveNum":5656,
    "hateNum":5665
  },
  {
    "newId": "ASDSDSDS1231015B",
    "name": "西瓜设置在线",
    "newTest":"西瓜设置在线西瓜设置在线西瓜设置在线西瓜设置在线西瓜设置在线西瓜设置在线西瓜设置在线",
    "upTime":"2017-05-15",
    "visitNum":15416,
    "loveNum":5656,
    "hateNum":5665
  },
  {
    "newId": "ASDSDSDS1231016B",
    "name": "西瓜设置在线",
    "newTest":"西瓜设置在线西瓜设置在线西瓜设置在线西瓜设置在线西瓜设置在线西瓜设置在线西瓜设置在线",
    "upTime":"2017-05-16",
    "visitNum":15416,
    "loveNum":5656,
    "hateNum":5665
  },
  {
    "newId": "ASDSDSDS1231017B",
    "name": "西瓜设置在线",
    "newTest":"西瓜设置在线西瓜设置在线西瓜设置在线西瓜设置在线西瓜设置在线西瓜设置在线西瓜设置在线",
    "upTime":"2017-05-17",
    "visitNum":15416,
    "loveNum":5656,
    "hateNum":5665
  },
  {
    "newId": "ASDSDSDS1231018B",
    "name": "西瓜设置在线",
    "newTest":"西瓜设置在线西瓜设置在线西瓜设置在线西瓜设置在线西瓜设置在线西瓜设置在线西瓜设置在线",
    "upTime":"2017-05-18",
    "visitNum":15416,
    "loveNum":5656,
    "hateNum":5665
  },
  {
    "newId": "ASDSDSDS1231019B",
    "name": "西瓜设置在线",
    "newTest":"西瓜设置在线西瓜设置在线西瓜设置在线西瓜设置在线西瓜设置在线西瓜设置在线西瓜设置在线",
    "upTime":"2017-05-19",
    "visitNum":15416,
    "loveNum":5656,
    "hateNum":5665
  },
  {
    "newId": "ASDSDSDS1231020B",
    "name": "西瓜设置在线",
    "newTest":"西瓜设置在线西瓜设置在线西瓜设置在线西瓜设置在线西瓜设置在线西瓜设置在线西瓜设置在线",
    "upTime":"2017-05-20",
    "visitNum":15416,
    "loveNum":5656,
    "hateNum":5665
  },
  {
    "newId": "ASDSDSDS123121B",
    "name": "西瓜设置在线",
    "newTest":"西瓜设置在线西瓜设置在线西瓜设置在线西瓜设置在线西瓜设置在线西瓜设置在线西瓜设置在线",
    "upTime":"2017-05-21",
    "visitNum":15416,
    "loveNum":5656,
    "hateNum":5665
  },
  {
    "newId": "ASDSDSDS123122B",
    "name": "西瓜设置在线",
    "newTest":"西瓜设置在线西瓜设置在线西瓜设置在线西瓜设置在线西瓜设置在线西瓜设置在线西瓜设置在线",
    "upTime":"2017-05-22",
    "visitNum":15416,
    "loveNum":5656,
    "hateNum":5665
  },
  {
    "newId": "ASDSDSDS1231023B",
    "name": "西瓜设置在线",
    "newTest":"西瓜设置在线西瓜设置在线西瓜设置在线西瓜设置在线西瓜设置在线西瓜设置在线西瓜设置在线",
    "upTime":"2017-05-23",
    "visitNum":15416,
    "loveNum":5656,
    "hateNum":5665
  },
  {
    "newId": "ASDSDSDS1231024B",
    "name": "西瓜设置在线",
    "newTest":"西瓜设置在线西瓜设置在线西瓜设置在线西瓜设置在线西瓜设置在线西瓜设置在线西瓜设置在线",
    "upTime":"2017-05-24",
    "visitNum":15416,
    "loveNum":5656,
    "hateNum":5665
  },
  {
    "newId": "ASDSDSDS1231025B",
    "name": "西瓜设置在线",
    "newTest":"西瓜设置在线西瓜设置在线西瓜设置在线西瓜设置在线西瓜设置在线西瓜设置在线西瓜设置在线",
    "upTime":"2017-05-25",
    "visitNum":15416,
    "loveNum":5656,
    "hateNum":5665
  },
  {
    "newId": "ASDSDSDS1231026B",
    "name": "西瓜设置在线",
    "newTest":"西瓜设置在线西瓜设置在线西瓜设置在线西瓜设置在线西瓜设置在线西瓜设置在线西瓜设置在线",
    "upTime":"2017-05-26",
    "visitNum":15416,
    "loveNum":5656,
    "hateNum":5665
  },
  {
    "newId": "ASDSDSDS123127B",
    "name": "西瓜设置在线",
    "newTest":"西瓜设置在线西瓜设置在线西瓜设置在线西瓜设置在线西瓜设置在线西瓜设置在线西瓜设置在线",
    "upTime":"2017-05-27",
    "visitNum":15416,
    "loveNum":5656,
    "hateNum":5665
  },
  {
    "newId": "ASDSDSDS123128B",
    "name": "西瓜设置在线",
    "newTest":"西瓜设置在线西瓜设置在线西瓜设置在线西瓜设置在线西瓜设置在线西瓜设置在线西瓜设置在线",
    "upTime":"2017-05-28",
    "visitNum":15416,
    "loveNum":5656,
    "hateNum":5665
  },
  {
    "newId": "ASDSDSDS123129B",
    "name": "西瓜设置在线",
    "newTest":"西瓜设置在线西瓜设置在线西瓜设置在线西瓜设置在线西瓜设置在线西瓜设置在线西瓜设置在线",
    "upTime":"2017-05-29",
    "visitNum":15416,
    "loveNum":5656,
    "hateNum":5665
  },
  {
    "newId": "ASDSDSDS123130B",
    "name": "西瓜设置在线",
    "newTest":"西瓜设置在线西瓜设置在线西瓜设置在线西瓜设置在线西瓜设置在线西瓜设置在线西瓜设置在线",
    "upTime":"2017-05-30",
    "visitNum":15416,
    "loveNum":5656,
    "hateNum":5665
  }
]
  return newsL;
}

</script>
</html>
